
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #F6F6F6;
    background-color: black;
    height: 100vh;
}

.section {
    margin: 5% 20%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 593px;
    }
    &__title {
        font-size: 36px;
        font-weight: bold;
    }
    &__highlight {
        color: purple;
    }
    &__text {
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
    }
    &__links {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        gap: 16px;
    }
    &__link {
        text-align: center;
        width: 280px;
        border-radius: 18px;
        color:black;
        background: #22D4FD;
        text-decoration: none;
        padding: 16px 0px;
        font-weight: 600;
        }

}

.footer {
    &__text {
        margin-top: 20px;
        color: #F6F6F6;
        font-size: 12px;
        text-align: center;
    }
}
